# Decision Tree

In [164]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [203]:
#Read in df
hdb=pd.read_csv(r"C:\Users\Long Bing\Desktop\HDB Project\Resale_Flats_Dataset_2012_Onwards_Non_Collinear_OHE.csv")

In [204]:
hdb

,floor_area_sqm,resale_price,remaining_lease,BEDOK,BISHAN,BUKIT BATOK,BUKIT MERAH,BUKIT PANJANG,BUKIT TIMAH,CENTRAL AREA,...,28 TO 30,31 TO 33,31 TO 35,34 TO 36,36 TO 40,37 TO 39,40 TO 42,43 TO 45,46 TO 48,49 TO 51
0,44,257800,66,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,44,263000,65,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,44,275000,65,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,45,260000,73,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,45,226000,73,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180158,146,560000,66,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180159,145,540000,66,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180160,142,638000,66,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180161,146,683500,66,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180162,142,670000,65,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [205]:
hdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180163 entries, 0 to 180162
Data columns (total 52 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   floor_area_sqm   180163 non-null  int64
 1   resale_price     180163 non-null  int64
 2   remaining_lease  180163 non-null  int64
 3   BEDOK            180163 non-null  int64
 4   BISHAN           180163 non-null  int64
 5   BUKIT BATOK      180163 non-null  int64
 6   BUKIT MERAH      180163 non-null  int64
 7   BUKIT PANJANG    180163 non-null  int64
 8   BUKIT TIMAH      180163 non-null  int64
 9   CENTRAL AREA     180163 non-null  int64
 10  CHOA CHU KANG    180163 non-null  int64
 11  CLEMENTI         180163 non-null  int64
 12  GEYLANG          180163 non-null  int64
 13  HOUGANG          180163 non-null  int64
 14  JURONG EAST      180163 non-null  int64
 15  JURONG WEST      180163 non-null  int64
 16  KALLANG/WHAMPOA  180163 non-null  int64
 17  MARINE PARADE    180163 non-null  int64
 18  PASIR RIS        180163 non-null  int64
 19  PUNGGOL          180163 non-null  int64
 20  QUEENSTOWN       180163 non-null  int64
 21  SEMBAWANG        180163 non-null  int64
 22  SENGKANG         180163 non-null  int64
 23  SERANGOON        180163 non-null  int64
 24  TAMPINES         180163 non-null  int64
 25  TOA PAYOH        180163 non-null  int64
 26  WOODLANDS        180163 non-null  int64
 27  YISHUN           180163 non-null  int64
 28  01 TO 05         180163 non-null  int64
 29  04 TO 06         180163 non-null  int64
 30  06 TO 10         180163 non-null  int64
 31  07 TO 09         180163 non-null  int64
 32  10 TO 12         180163 non-null  int64
 33  11 TO 15         180163 non-null  int64
 34  13 TO 15         180163 non-null  int64
 35  16 TO 18         180163 non-null  int64
 36  16 TO 20         180163 non-null  int64
 37  19 TO 21         180163 non-null  int64
 38  21 TO 25         180163 non-null  int64
 39  22 TO 24         180163 non-null  int64
 40  25 TO 27         180163 non-null  int64
 41  26 TO 30         180163 non-null  int64
 42  28 TO 30         180163 non-null  int64
 43  31 TO 33         180163 non-null  int64
 44  31 TO 35         180163 non-null  int64
 45  34 TO 36         180163 non-null  int64
 46  36 TO 40         180163 non-null  int64
 47  37 TO 39         180163 non-null  int64
 48  40 TO 42         180163 non-null  int64
 49  43 TO 45         180163 non-null  int64
 50  46 TO 48         180163 non-null  int64
 51  49 TO 51         180163 non-null  int64
dtypes: int64(52)
memory usage: 71.5 MB

In [186]:
hdb_1 = hdb.drop(['town','storey_range'],axis=1)

# Train Test Split

In [206]:
from sklearn.model_selection import train_test_split

In [207]:
X = hdb.drop('resale_price',axis=1)
y = hdb['resale_price']

In [208]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=111)

# Decision Tree

In [209]:
from sklearn.tree import DecisionTreeRegressor

In [365]:
dtree = DecisionTreeRegressor(min_samples_leaf=20, min_samples_split=40,random_state=45)

In [366]:
dtree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=20, min_samples_split=40,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=45, splitter='best')

In [367]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics

In [368]:
predictions = dtree.predict(X_test)

In [369]:
R2 = r2_score(y_test,predictions)
R2

0.900158031346269

In [370]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 31624.66196858489
MSE: 1980326038.305338
RMSE: 44500.854354779956

# Random Forest

In [356]:
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor(n_estimators=200,random_state=45)
rfc.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=45, verbose=0, warm_start=False)

In [357]:
rfc_pred = rfc.predict(X_test)

In [358]:
R2 = r2_score(y_test,rfc_pred)
R2

0.9167307537646161

In [359]:
print('MAE:', metrics.mean_absolute_error(y_test, rfc_pred))
print('MSE:', metrics.mean_squared_error(y_test, rfc_pred))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, rfc_pred)))

MAE: 28545.92696746107
MSE: 1651612630.775458
RMSE: 40640.03728806678

In [ ]:
#Both Decision Tree and Random Forest performed better than Linear Regression in terms of R2 and RMSE
#Changed to a slightly higher number for min_samples_leaf and min_samples_split in DT to try to prevent overfitting.